.style-0 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-1 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-2 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-3 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-4 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-5 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-6 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-7 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-8 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-9 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-10 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-11 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-12 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-13 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-14 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-15 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-16 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-17 {
  color: rgba(8,83,148,1);
  -webkit-text-decoration: underline solid rgba(8,83,148,1);
  text-decoration: underline solid rgba(8,83,148,1);
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.login-base-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.login-left-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.login-right-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.invitation-start-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.invitation-start-filled-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.invitation-sent-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.sign-in-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.sign-in-username-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.sign-in-username-filled-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.sign-in-username-validate-check-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.sign-in-username-validate-check-ok-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.sign-in-username-validate-check-nok-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.first-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.nog-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.tog-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.codes-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.c1-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.c2-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.c3-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.s-unsupported-2 {
  margin: 2px 0 0 77.83%;
  width: 0%;
  height: 0%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}